<nav class="container-fluid">
    <ul>
        <li><img alt="logo" src="/Images/cross-platform.svg" /></li>
        <li><strong>Blazor 8</strong></li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li><a href="/marks"><i class="las la-wind"></i> Marks</a></li>
        <li><a href="/courses"><i class="las la-cogs"></i> Settings</a></li>
    </ul>
</nav>