@page "/marks"
@using Microsoft.AspNetCore.Components.QuickGrid
@using WebApp.Data.Models
@using WebApp.Data.BLL
@inject GradingServices Grades
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="marks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="EvaluationItems" Pagination="pagination">
    <PropertyColumn Property="item => item.Course.Number" Title="Course #" />
    <PropertyColumn Property="item => item.Name" Title="Evaluation"/>
    <PropertyColumn Property="item => item.Weight" />
    <PropertyColumn Property="item => item.Percentage" />
    <TemplateColumn>
        <a href="@Edit.Url(context)">Edit</a> |
        <a href="@Details.Url(context)">Details</a> |
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagination" />

@code {
    PaginationState pagination = new() { ItemsPerPage = 10 };
    private IQueryable<EvaluationItem>? EvaluationItems { get; set; }
    protected override void OnInitialized()
    {
        EvaluationItems = Grades.GetAllEvaluationItems().AsQueryable();
    }
}
